<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>weightLow</key>
		<string>2.85</string>
		<key>weightHigh</key>
		<string>3.63</string>
		<key>heightLow</key>
		<string>48</string>
		<key>heightHigh</key>
		<string>51.4</string>
	</dict>
	<dict>
		<key>weightLow</key>
		<string>3.74</string>
		<key>weightHigh</key>
		<string>4.74</string>
		<key>heightLow</key>
		<string>51.7</string>
		<key>heightHigh</key>
		<string>55.7</string>
	</dict>
	<dict>
		<key>weightLow</key>
		<string>4.65</string>
		<key>weightHigh</key>
		<string>5.86</string>
		<key>heightLow</key>
		<string>55.3</string>
		<key>heightHigh</key>
		<string>59.6</string>
	</dict>
	<dict>
		<key>weightLow</key>
		<string>5.47</string>
		<key>weightHigh</key>
		<string>6.87</string>
		<key>heightLow</key>
		<string>58.4</string>
		<key>heightHigh</key>
		<string>62.8</string>
	</dict>
	<dict>
		<key>weightLow</key>
		<string>6.11</string>
		<key>weightHigh</key>
		<string>7.65</string>
		<key>heightLow</key>
		<string>61</string>
		<key>heightHigh</key>
		<string>65.4</string>
	</dict>
	<dict>
		<key>weightLow</key>
		<string>6.59</string>
		<key>weightHigh</key>
		<string>8.23</string>
		<key>heightLow</key>
		<string>62.9</string>
		<key>heightHigh</key>
		<string>67.4</string>
	</dict>
	<dict>
		<key>weightLow</key>
		<string>6.96</string>
		<key>weightHigh</key>
		<string>8.68</string>
		<key>heightLow</key>
		<string>64.5</string>
		<key>heightHigh</key>
		<string>69.4</string>
	</dict>
	<dict>
		<key>weightLow</key>
		<string>7.28</string>
		<key>weightHigh</key>
		<string>9.06</string>
		<key>heightLow</key>
		<string>65.9</string>
		<key>heightHigh</key>
		<string>70.6</string>
	</dict>
	<dict>
		<key>weightLow</key>
		<string>7.55</string>
		<key>weightHigh</key>
		<string>9.39</string>
		<key>heightLow</key>
		<string>67.2</string>
		<key>heightHigh</key>
		<string>72.1</string>
	</dict>
	<dict>
		<key>weightLow</key>
		<string>7.81</string>
		<key>weightHigh</key>
		<string>9.7</string>
		<key>heightLow</key>
		<string>68.5</string>
		<key>heightHigh</key>
		<string>73.6</string>
	</dict>
	<dict>
		<key>weightLow</key>
		<string>8.03</string>
		<key>weightHigh</key>
		<string>9.98</string>
		<key>heightLow</key>
		<string>69.8</string>
		<key>heightHigh</key>
		<string>75</string>
	</dict>
	<dict>
		<key>weightLow</key>
		<string>8.25</string>
		<key>weightHigh</key>
		<string>10.24</string>
		<key>heightLow</key>
		<string>71.1</string>
		<key>heightHigh</key>
		<string>76.4</string>
	</dict>
	<dict>
		<key>weightLow</key>
		<string>8.45</string>
		<key>weightHigh</key>
		<string>10.48</string>
		<key>heightLow</key>
		<string>72.3</string>
		<key>heightHigh</key>
		<string>77.7</string>
	</dict>
	<dict>
		<key>weightLow</key>
		<string>8.64</string>
		<key>weightHigh</key>
		<string>10.72</string>
		<key>heightLow</key>
		<string>73.5</string>
		<key>heightHigh</key>
		<string>79</string>
	</dict>
	<dict>
		<key>weightLow</key>
		<string>8.83</string>
		<key>weightHigh</key>
		<string>10.95</string>
		<key>heightLow</key>
		<string>74.6</string>
		<key>heightHigh</key>
		<string>80.2</string>
	</dict>
	<dict>
		<key>weightLow</key>
		<string>9.01</string>
		<key>weightHigh</key>
		<string>11.18</string>
		<key>heightLow</key>
		<string>75.6</string>
		<key>heightHigh</key>
		<string>81.4</string>
	</dict>
	<dict>
		<key>weightLow</key>
		<string>9.2</string>
		<key>weightHigh</key>
		<string>11.41</string>
		<key>heightLow</key>
		<string>76.7</string>
		<key>heightHigh</key>
		<string>82.5</string>
	</dict>
	<dict>
		<key>weightLow</key>
		<string>9.38</string>
		<key>weightHigh</key>
		<string>11.64</string>
		<key>heightLow</key>
		<string>77.6</string>
		<key>heightHigh</key>
		<string>83.6</string>
	</dict>
	<dict>
		<key>weightLow</key>
		<string>9.57</string>
		<key>weightHigh</key>
		<string>11.88</string>
		<key>heightLow</key>
		<string>78.5</string>
		<key>heightHigh</key>
		<string>84.6</string>
	</dict>
	<dict>
		<key>weightLow</key>
		<string>9.76</string>
		<key>weightHigh</key>
		<string>12.12</string>
		<key>heightLow</key>
		<string>79.4</string>
		<key>heightHigh</key>
		<string>85.6</string>
	</dict>
	<dict>
		<key>weightLow</key>
		<string>9.96</string>
		<key>weightHigh</key>
		<string>12.36</string>
		<key>heightLow</key>
		<string>80.3</string>
		<key>heightHigh</key>
		<string>86.7</string>
	</dict>
	<dict>
		<key>weightLow</key>
		<string>10.15</string>
		<key>weightHigh</key>
		<string>12.61</string>
		<key>heightLow</key>
		<string>81.2</string>
		<key>heightHigh</key>
		<string>87.7</string>
	</dict>
	<dict>
		<key>weightLow</key>
		<string>10.34</string>
		<key>weightHigh</key>
		<string>12.86</string>
		<key>heightLow</key>
		<string>82.1</string>
		<key>heightHigh</key>
		<string>88.7</string>
	</dict>
	<dict>
		<key>weightLow</key>
		<string>10.53</string>
		<key>weightHigh</key>
		<string>13.09</string>
		<key>heightLow</key>
		<string>83</string>
		<key>heightHigh</key>
		<string>89.8</string>
	</dict>
	<dict>
		<key>weightLow</key>
		<string>10.7</string>
		<key>weightHigh</key>
		<string>13.31</string>
		<key>heightLow</key>
		<string>83.8</string>
		<key>heightHigh</key>
		<string>90.7</string>
	</dict>
	<dict>
		<key>weightLow</key>
		<string>10.87</string>
		<key>weightHigh</key>
		<string>13.54</string>
		<key>heightLow</key>
		<string>84.6</string>
		<key>heightHigh</key>
		<string>91.7</string>
	</dict>
	<dict>
		<key>weightLow</key>
		<string>11.4</string>
		<key>weightHigh</key>
		<string>13.75</string>
		<key>heightLow</key>
		<string>85.4</string>
		<key>heightHigh</key>
		<string>92.6</string>
	</dict>
	<dict>
		<key>weightLow</key>
		<string>11.21</string>
		<key>weightHigh</key>
		<string>13.97</string>
		<key>heightLow</key>
		<string>86.2</string>
		<key>heightHigh</key>
		<string>93.5</string>
	</dict>
	<dict>
		<key>weightLow</key>
		<string>11.37</string>
		<key>weightHigh</key>
		<string>14.18</string>
		<key>heightLow</key>
		<string>86.9</string>
		<key>heightHigh</key>
		<string>94.3</string>
	</dict>
	<dict>
		<key>weightLow</key>
		<string>11.54</string>
		<key>weightHigh</key>
		<string>14.39</string>
		<key>heightLow</key>
		<string>87.7</string>
		<key>heightHigh</key>
		<string>95.1</string>
	</dict>
	<dict>
		<key>weightLow</key>
		<string>11.7</string>
		<key>weightHigh</key>
		<string>14.6</string>
		<key>heightLow</key>
		<string>88.4</string>
		<key>heightHigh</key>
		<string>95.9</string>
	</dict>
	<dict>
		<key>weightLow</key>
		<string>11.86</string>
		<key>weightHigh</key>
		<string>14.81</string>
		<key>heightLow</key>
		<string>89.1</string>
		<key>heightHigh</key>
		<string>96.6</string>
	</dict>
	<dict>
		<key>weightLow</key>
		<string>12.02</string>
		<key>weightHigh</key>
		<string>15.02</string>
		<key>heightLow</key>
		<string>89.8</string>
		<key>heightHigh</key>
		<string>97.4</string>
	</dict>
	<dict>
		<key>weightLow</key>
		<string>12.18</string>
		<key>weightHigh</key>
		<string>15.22</string>
		<key>heightLow</key>
		<string>90.5</string>
		<key>heightHigh</key>
		<string>98.1</string>
	</dict>
	<dict>
		<key>weightLow</key>
		<string>12.33</string>
		<key>weightHigh</key>
		<string>15.43</string>
		<key>heightLow</key>
		<string>91.2</string>
		<key>heightHigh</key>
		<string>98.8</string>
	</dict>
	<dict>
		<key>weightLow</key>
		<string>12.49</string>
		<key>weightHigh</key>
		<string>15.63</string>
		<key>heightLow</key>
		<string>91.9</string>
		<key>heightHigh</key>
		<string>99.5</string>
	</dict>
	<dict>
		<key>weightLow</key>
		<string>12.65</string>
		<key>weightHigh</key>
		<string>15.83</string>
		<key>heightLow</key>
		<string>91.8</string>
		<key>heightHigh</key>
		<string>99.4</string>
	</dict>
</array>
</plist>
