<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>weightLow</key>
		<string>2.93</string>
		<key>weightHigh</key>
		<string>3.73</string>
		<key>heightLow</key>
		<string>48.6</string>
		<key>heightHigh</key>
		<string>52.2</string>
	</dict>
	<dict>
		<key>weightLow</key>
		<string>3.99</string>
		<key>weightHigh</key>
		<string>5.07</string>
		<key>heightLow</key>
		<string>52.7</string>
		<key>heightHigh</key>
		<string>56.9</string>
	</dict>
	<dict>
		<key>weightLow</key>
		<string>5.05</string>
		<key>weightHigh</key>
		<string>6.38</string>
		<key>heightLow</key>
		<string>56.5</string>
		<key>heightHigh</key>
		<string>61</string>
	</dict>
	<dict>
		<key>weightLow</key>
		<string>5.39</string>
		<key>weightHigh</key>
		<string>7.51</string>
		<key>heightLow</key>
		<string>59.7</string>
		<key>heightHigh</key>
		<string>64.3</string>
	</dict>
	<dict>
		<key>weightLow</key>
		<string>6.64</string>
		<key>weightHigh</key>
		<string>8.34</string>
		<key>heightLow</key>
		<string>62.3</string>
		<key>heightHigh</key>
		<string>65.9</string>
	</dict>
	<dict>
		<key>weightLow</key>
		<string>7.14</string>
		<key>weightHigh</key>
		<string>8.95</string>
		<key>heightLow</key>
		<string>64.4</string>
		<key>heightHigh</key>
		<string>69.1</string>
	</dict>
	<dict>
		<key>weightLow</key>
		<string>7.51</string>
		<key>weightHigh</key>
		<string>9.41</string>
		<key>heightLow</key>
		<string>66</string>
		<key>heightHigh</key>
		<string>70.8</string>
	</dict>
	<dict>
		<key>weightLow</key>
		<string>7.83</string>
		<key>weightHigh</key>
		<string>9.79</string>
		<key>heightLow</key>
		<string>67.4</string>
		<key>heightHigh</key>
		<string>72.3</string>
	</dict>
	<dict>
		<key>weightLow</key>
		<string>8.09</string>
		<key>weightHigh</key>
		<string>10.11</string>
		<key>heightLow</key>
		<string>68.7</string>
		<key>heightHigh</key>
		<string>73.7</string>
	</dict>
	<dict>
		<key>weightLow</key>
		<string>8.35</string>
		<key>weightHigh</key>
		<string>10.42</string>
		<key>heightLow</key>
		<string>70.1</string>
		<key>heightHigh</key>
		<string>75.2</string>
	</dict>
	<dict>
		<key>weightLow</key>
		<string>8.58</string>
		<key>weightHigh</key>
		<string>10.71</string>
		<key>heightLow</key>
		<string>71.4</string>
		<key>heightHigh</key>
		<string>76.6</string>
	</dict>
	<dict>
		<key>weightLow</key>
		<string>8.8</string>
		<key>weightHigh</key>
		<string>10.98</string>
		<key>heightLow</key>
		<string>72.7</string>
		<key>heightHigh</key>
		<string>78</string>
	</dict>
	<dict>
		<key>weightLow</key>
		<string>9</string>
		<key>weightHigh</key>
		<string>11.23</string>
		<key>heightLow</key>
		<string>73.8</string>
		<key>heightHigh</key>
		<string>79.3</string>
	</dict>
	<dict>
		<key>weightLow</key>
		<string>9.2</string>
		<key>weightHigh</key>
		<string>11.47</string>
		<key>heightLow</key>
		<string>74.9</string>
		<key>heightHigh</key>
		<string>80.5</string>
	</dict>
	<dict>
		<key>weightLow</key>
		<string>9.38</string>
		<key>weightHigh</key>
		<string>11.7</string>
		<key>heightLow</key>
		<string>75.9</string>
		<key>heightHigh</key>
		<string>81.7</string>
	</dict>
	<dict>
		<key>weightLow</key>
		<string>9.57</string>
		<key>weightHigh</key>
		<string>11.93</string>
		<key>heightLow</key>
		<string>76.9</string>
		<key>heightHigh</key>
		<string>82.8</string>
	</dict>
	<dict>
		<key>weightLow</key>
		<string>9.75</string>
		<key>weightHigh</key>
		<string>12.15</string>
		<key>heightLow</key>
		<string>77.8</string>
		<key>heightHigh</key>
		<string>83.8</string>
	</dict>
	<dict>
		<key>weightLow</key>
		<string>9.93</string>
		<key>weightHigh</key>
		<string>12.38</string>
		<key>heightLow</key>
		<string>78.7</string>
		<key>heightHigh</key>
		<string>84.8</string>
	</dict>
	<dict>
		<key>weightLow</key>
		<string>10.12</string>
		<key>weightHigh</key>
		<string>12.61</string>
		<key>heightLow</key>
		<string>79.6</string>
		<key>heightHigh</key>
		<string>85.8</string>
	</dict>
	<dict>
		<key>weightLow</key>
		<string>10.3</string>
		<key>weightHigh</key>
		<string>12.84</string>
		<key>heightLow</key>
		<string>80.5</string>
		<key>heightHigh</key>
		<string>86.9</string>
	</dict>
	<dict>
		<key>weightLow</key>
		<string>10.5</string>
		<key>weightHigh</key>
		<string>13.08</string>
		<key>heightLow</key>
		<string>81.4</string>
		<key>heightHigh</key>
		<string>87.9</string>
	</dict>
	<dict>
		<key>weightLow</key>
		<string>10.69</string>
		<key>weightHigh</key>
		<string>13.33</string>
		<key>heightLow</key>
		<string>82.3</string>
		<key>heightHigh</key>
		<string>89</string>
	</dict>
	<dict>
		<key>weightLow</key>
		<string>10.88</string>
		<key>weightHigh</key>
		<string>13.56</string>
		<key>heightLow</key>
		<string>83.3</string>
		<key>heightHigh</key>
		<string>90.1</string>
	</dict>
	<dict>
		<key>weightLow</key>
		<string>11.07</string>
		<key>weightHigh</key>
		<string>13.79</string>
		<key>heightLow</key>
		<string>84.2</string>
		<key>heightHigh</key>
		<string>91.1</string>
	</dict>
	<dict>
		<key>weightLow</key>
		<string>11.24</string>
		<key>weightHigh</key>
		<string>14.01</string>
		<key>heightLow</key>
		<string>85.1</string>
		<key>heightHigh</key>
		<string>92.1</string>
	</dict>
	<dict>
		<key>weightLow</key>
		<string>11.41</string>
		<key>weightHigh</key>
		<string>14.23</string>
		<key>heightLow</key>
		<string>85.9</string>
		<key>heightHigh</key>
		<string>93.1</string>
	</dict>
	<dict>
		<key>weightLow</key>
		<string>11.58</string>
		<key>weightHigh</key>
		<string>14.44</string>
		<key>heightLow</key>
		<string>86.7</string>
		<key>heightHigh</key>
		<string>94</string>
	</dict>
	<dict>
		<key>weightLow</key>
		<string>11.75</string>
		<key>weightHigh</key>
		<string>14.64</string>
		<key>heightLow</key>
		<string>87.5</string>
		<key>heightHigh</key>
		<string>94.8</string>
	</dict>
	<dict>
		<key>weightLow</key>
		<string>11.91</string>
		<key>weightHigh</key>
		<string>14.84</string>
		<key>heightLow</key>
		<string>88.2</string>
		<key>heightHigh</key>
		<string>95.6</string>
	</dict>
	<dict>
		<key>weightLow</key>
		<string>12.06</string>
		<key>weightHigh</key>
		<string>15.04</string>
		<key>heightLow</key>
		<string>88.9</string>
		<key>heightHigh</key>
		<string>96.4</string>
	</dict>
	<dict>
		<key>weightLow</key>
		<string>12.22</string>
		<key>weightHigh</key>
		<string>15.24</string>
		<key>heightLow</key>
		<string>89.6</string>
		<key>heightHigh</key>
		<string>97.1</string>
	</dict>
	<dict>
		<key>weightLow</key>
		<string>12.38</string>
		<key>weightHigh</key>
		<string>15.44</string>
		<key>heightLow</key>
		<string>90.3</string>
		<key>heightHigh</key>
		<string>97.8</string>
	</dict>
	<dict>
		<key>weightLow</key>
		<string>12.53</string>
		<key>weightHigh</key>
		<string>15.63</string>
		<key>heightLow</key>
		<string>91</string>
		<key>heightHigh</key>
		<string>98.6</string>
	</dict>
	<dict>
		<key>weightLow</key>
		<string>12.68</string>
		<key>weightHigh</key>
		<string>15.82</string>
		<key>heightLow</key>
		<string>91.6</string>
		<key>heightHigh</key>
		<string>99.3</string>
	</dict>
	<dict>
		<key>weightLow</key>
		<string>12.83</string>
		<key>weightHigh</key>
		<string>16.01</string>
		<key>heightLow</key>
		<string>82.3</string>
		<key>heightHigh</key>
		<string>100</string>
	</dict>
	<dict>
		<key>weightLow</key>
		<string>12.98</string>
		<key>weightHigh</key>
		<string>16.2</string>
		<key>heightLow</key>
		<string>93</string>
		<key>heightHigh</key>
		<string>100.7</string>
	</dict>
	<dict>
		<key>weightLow</key>
		<string>13.13</string>
		<key>weightHigh</key>
		<string>16.39</string>
		<key>heightLow</key>
		<string>93</string>
		<key>heightHigh</key>
		<string>100.7</string>
	</dict>
</array>
</plist>
