<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>height</key>
		<string>11.7</string>
		<key>kg</key>
		<string>16.5</string>
	</dict>
	<dict>
		<key>height</key>
		<string>13.8</string>
		<key>kg</key>
		<string>25</string>
	</dict>
	<dict>
		<key>height</key>
		<string>17.4</string>
		<key>kg</key>
		<string>50</string>
	</dict>
	<dict>
		<key>height</key>
		<string>21</string>
		<key>kg</key>
		<string>80</string>
	</dict>
	<dict>
		<key>height</key>
		<string>25.2</string>
		<key>kg</key>
		<string>100</string>
	</dict>
	<dict>
		<key>height</key>
		<string>27.1</string>
		<key>kg</key>
		<string>150</string>
	</dict>
	<dict>
		<key>height</key>
		<string>30.3</string>
		<key>kg</key>
		<string>200</string>
	</dict>
	<dict>
		<key>height</key>
		<string>33.5</string>
		<key>kg</key>
		<string>255</string>
	</dict>
	<dict>
		<key>height</key>
		<string>36.4</string>
		<key>kg</key>
		<string>300</string>
	</dict>
	<dict>
		<key>height</key>
		<string>38.2</string>
		<key>kg</key>
		<string>365</string>
	</dict>
	<dict>
		<key>height</key>
		<string>42.1</string>
		<key>kg</key>
		<string>455</string>
	</dict>
	<dict>
		<key>height</key>
		<string>43.6</string>
		<key>kg</key>
		<string>540</string>
	</dict>
	<dict>
		<key>height</key>
		<string>46.5</string>
		<key>kg</key>
		<string>700</string>
	</dict>
	<dict>
		<key>height</key>
		<string>48.7</string>
		<key>kg</key>
		<string>910</string>
	</dict>
	<dict>
		<key>height</key>
		<string>51</string>
		<key>kg</key>
		<string>1000</string>
	</dict>
	<dict>
		<key>height</key>
		<string>53.5</string>
		<key>kg</key>
		<string>1100</string>
	</dict>
	<dict>
		<key>height</key>
		<string>56.1</string>
		<key>kg</key>
		<string>1250</string>
	</dict>
	<dict>
		<key>height</key>
		<string>57.7</string>
		<key>kg</key>
		<string>1360</string>
	</dict>
	<dict>
		<key>height</key>
		<string>60.3</string>
		<key>kg</key>
		<string>1590</string>
	</dict>
	<dict>
		<key>height</key>
		<string>64.3</string>
		<key>kg</key>
		<string>1800</string>
	</dict>
	<dict>
		<key>height</key>
		<string>65.2</string>
		<key>kg</key>
		<string>2000</string>
	</dict>
	<dict>
		<key>height</key>
		<string>66.2</string>
		<key>kg</key>
		<string>2275</string>
	</dict>
	<dict>
		<key>height</key>
		<string>67.1</string>
		<key>kg</key>
		<string>2550</string>
	</dict>
	<dict>
		<key>height</key>
		<string>69.5</string>
		<key>kg</key>
		<string>2750</string>
	</dict>
	<dict>
		<key>height</key>
		<string>71</string>
		<key>kg</key>
		<string>2950</string>
	</dict>
	<dict>
		<key>height</key>
		<string>72</string>
		<key>kg</key>
		<string>3100</string>
	</dict>
	<dict>
		<key>height</key>
		<string>73.4</string>
		<key>kg</key>
		<string>3250</string>
	</dict>
	<dict>
		<key>height</key>
		<string>74</string>
		<key>kg</key>
		<string>3300</string>
	</dict>
</array>
</plist>
